*.gem
.bundle
.kitchen/
.kitchen.local.yml
vendor/bundle
pkg/*
.vagrant
bin/*
omnibus.rb
files/msi/ChefClient-Config.wxi
cookbooks
files/**/cache/
vendor/cookbooks
build_timestamp
ldd.out
jenkins/chef-solo
